body {
  color: #003c7c;
}

.navbar {
  margin-bottom: 0;
  background-color: white;
  border-color: white;
}

.jumbotron {
  background: #003c7c;
  color: white;
}

.johnny {
  border: 3px solid white;
  padding:5px;
  width: 150px;
}

.item h3 a span {
  color: #383838 !important;
}

.page-header {
  margin: 0;
}